@font-face {
    font-family: 'ar_destineregular';
    src: url('ardestine-webfont.eot');
    src: url('ardestine-webfont.eot?#iefix') format('embedded-opentype'),
         url('ardestine-webfont.woff2') format('woff2'),
         url('ardestine-webfont.woff') format('woff'),
         url('ardestine-webfont.ttf') format('truetype'),
         url('ardestine-webfont.svg#ar_destineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background: #070707;
    text-align: center;
}

header {
    border: 1px solid #000;
    height: 200px;
}

nav {
    width: 100%;
    height: 30px;
}

.header-menu li {
    float: left;
    list-style: none;
    width: 25%;
}

.index_view {
    margin-top: 20px;
    position: relative;
}

.index_view .upper_left {
    float: left;
}

.index_view .upper_right {
    text-align: right;
    float: right;
}

.index_view .bottom_left {
    margin-top: -75px;
    float: left;
}

.index_view .bottom_right {
    margin-top: -75px;
    text-align: right;
    float: right;
}

h2, h1 {
    font-size: 22px;
    margin: 0 0 5px 0;
    font-weight:bold;
}

article {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.center_img{
    text-align: center;
}

a{
    color: #000;   
    text-decoration: none; 
}
a:hover{
    color: #000;
    cursor: pointer;
}


@media screen and (max-width: 970px) {

    .index_view .upper_right, .index_view .bottom_left ,.index_view .bottom_right  {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: 10px;
    }
    .index_view .bottom_right{
        float: left;    
        text-align: left;
        margin-top: 20px;
    }
}


h1 {
    font-family: 'ar_destineregular';
    color: #fff;
    font-size: 44px;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
}

.col-md-6 {
    margin-top: 40px;
    margin-bottom: 40px;
    
}