<section class="index_view">

    <section class="row">
        <section class="upper_left col-md-3">
            <h2>News:</h2>
            <article>
                2014-11-03 Nobuo Uematsu & The Earthbound Pappas Perform in Stockholm, Sweden Opening Act: David Westerlund
            </article>
        </section>

          <section class="col-md-6 center_img">
            <img src="../Images/bg2.png" width="100%" height="auto" />
        </section>

        <section class="upper_right col-md-3">
            <h2>Game Music Entertainment</h2>
            <article><a href="http://www.gamemusicentertainment.com/">Official Website </a></article>
        </section>
    </section>


    <section class="row">
        <section class="bottom_left col-md-3">
            <h1>David Westerlund</h1>
            <nav>
                <ul>
                    <li><a href="https://www.facebook.com/pages/David-Westerlund/131148210290494">Facebook</a></li>
                    <li><a href="https://www.youtube.com/user/thorwest/videos">Videos</a></li>
                    <li><a href="#/Book">Contact</a></li>
                </ul>
            </nav>
        </section>
        <section class="col-md-6">

        </section>
        <section class="bottom_right col-md-3">
            <h2>White Mages</h2> 
            <article><a href="https://www.facebook.com/thewhitemages">on Facebook</a></article>
        </section>
    </section>




</section>

